<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883504380146-n84ee6ep3k4p9gjp1ihb0vmbvh1kt67t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883504380146-n84ee6ep3k4p9gjp1ihb0vmbvh1kt67t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWfDW0vlxnCYR62hvvlWc3TlOO0TyVkS8</string>
	<key>GCM_SENDER_ID</key>
	<string>883504380146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jorge-Zapata.Fobb</string>
	<key>PROJECT_ID</key>
	<string>fobb-1357a</string>
	<key>STORAGE_BUCKET</key>
	<string>fobb-1357a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883504380146:ios:40b2e10f559def208d786b</string>
</dict>
</plist>